.carousel-item {

  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.about{


  &-img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    object-fit: cover;
  }
}



.latest .row img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: all 1s ease;
}

.latest .col-sm, 
.latest .col-6 {
  position: relative;
  overflow: hidden;
}

.img-overlay{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.715);
  opacity: 0; 
  transition: all 1s ease;
}

.latest .col-sm:hover img{
  transform: scale(1.2);
}

.latest .col-sm:hover .img-overlay, 
.latest .col-sm:hover .img-overlay {
  opacity: 1;
}


.services .row svg{
  font-size: 3rem;
}

.services-text{
  text-align: center;

  h4{
    font-weight: 500;
  }

  p{
    font-size: .8rem;
    font-weight: 300;
  }
}

.team{
  padding: 50px 0;

  .card img{
    height: 30vh;
    object-fit: cover;
    object-position: top;
  }
}

.contact{
  padding: 50px 0;
  background: rgb(7, 7, 7);

  form textarea{
    
    height: 89%;
  }

}